//- Episode Page Template - TBD
//- This will be created once we know the Troll Hair website structure

//- Placeholder structure:
//- - Episode title
//- - Guest name and bio
//- - Video/audio embed
//- - Episode description
//- - Timestamps/chapters
//- - Links to guest's company/LinkedIn
//- - Related episodes
